<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd" default-autowire="byName" default-lazy-init="true">
	<!-- 传统方式下XFire-Spring导出POJO为Web服务的配置文件-->

	<!--引入XFire的预配置文件-->
	<import resource="classpath:org/codehaus/xfire/spring/xfire.xml"/>

	<!--XFire WebService 基类-->
	<bean id="baseWebService" class="org.codehaus.xfire.spring.remoting.XFireExporter" lazy-init="false"
		  abstract="true">
		<property name="serviceFactory" ref="xfire.serviceFactory"/>
		<property name="xfire" ref="xfire"/>
	</bean>

	<!--UserWebService 最简版本-->
	<bean id="userWebService" parent="baseWebService">
		<property name="serviceBean" ref="userService"/>
		<property name="serviceClass" value="com.cyberway.sample.service.UserWebService"/>
	</bean>
</beans>
