/* main_css */
html{
	height:100%;

} 
body {
	margin:0px;
	background-color:#FAFAFA;
	padding:0px;
	font-size:12px;
	text-align:center;
	height:100%;
	font-family: Arial, Helvetica, sans-serif;
	word-break:break-all;
	
}
textarea{
word-break:break-all;
}
td{
font-size:12px;
color:#000000;
}
div{
	display:table;
}
img{
	border:0px;
}
a{
text-decoration:none;
color:#000000;
}
a:hover{
text-decoration:none;
color:#ff0000;
}
#header{
	position: absolute;
	top:0px;
	left:0px;
	width:100%;
	height:85px;
	background:url(../../images/cms3/kms_02.jpg) repeat-x top;
	display:table;
	text-align:right;
}
#header_left{
	width:100%; 
	height:85px;
	background:url(../../images/cms3/kms_01.jpg) no-repeat left top;
}
#header_right{
	width:100%;
	height:85px;
	background:url(../../images/cms3/kms_03.jpg) no-repeat right top;
}
#header_nav{
	text-align:right !important;
	text-align:left;
	color:#ffffff;
	display:block;
}
#header_nav a{
	color:#ffffff;
	text-decoration: none; 
	position:relative;
}
#header_nav a:hover{
	color:#CC0000;
	position: relative;
	right: 0px; 
	top: 1px;
	text-decoration: none; 
}
#header_nav span{
color:#CC0000;
}
/* inside main css */
#main{
	height:100%;
	width:100%;
	margin:0 auto;
}
/* inside main left css */
#main_left{
	float:left;
	width:178px;
	height:100%;
	background:url(../../images/cms3/inside_left_bg.jpg) repeat-y top left;
}
#main_left_split{
	float:right;
	width:6px;
	height:0px !important;
	height:450px;
	overflow:hidden;
	cursor:hand; 
	display:block;
	background:url(../../images/cms3/arrow.gif) no-repeat right center;
}
#main_left_line{
	float:left;
	width:6px;
	height:100%;
	cursor:hand; 
	display:block;
	background: #e4e4e4 url(../../images/cms3/arrow1.gif) no-repeat left center;
}
#main_left_header{
	height:8px;
	width:178px;
	background:url(../../images/cms3/inside_8.jpg) no-repeat left top;
}
#main_left_center{
	width:178px;
}
#main_left_footer{
	height:100%;
	width:178px;
	background:url(../../images/cms3/inside_10.jpg) no-repeat bottom left;
}
#main_left_center_content{
	width:178px;
	text-align:center;
}
#main_left_center_content ul{
	margin:6px 0px 0px 6px !important;
	>margin:0px !important;
	margin:0px;
	padding:0px;
	text-align:left;
	list-style-type:none;
}
#main_left_center_content ul li{
    margin:10px 10px 0px 10px !important;
	>margin:0px!important;
	margin:0px;
	padding:0px;
	line-height:26px;
	vertical-align:middle;
	background:url(../../images/cms3/menu_bg2.jpg) no-repeat center top;
	list-style-position:none;
	font-size:14px;
	color:#fff;
	display:block;
	font-weight: bold;
	cursor:hand;
}
#main_left_center_content ul li#change{background:url(../../images/cms3/menu_bg2.jpg) no-repeat center top;}
#main_left_center_content ul li p{margin:0px;padding:0px;overflow:hidden;}
#main_left_center_content ul li a{margin:10px 10px 0px 10px; color:#fff;font-size:14px;font-weight:bold; text-indent:24px; display:block;}
#main_left_center_content ul li a:hover{margin:10px 10px 0px 10px; background:url(../../images/cms3/menu_bg1.jpg) no-repeat center top; text-indent:24px ;}
#main_left_center_content tr{
	margin:6px 0px 0px 6px !important;
	>margin:0px !important;
	margin:0px;
	padding:0px;
	text-align:left;
	list-style-type:none;
}
#main_left_center_content tr td{
    margin:10px 10px 0px 10px !important;
	>margin:0px!important;
	margin:0px;
	padding:0px;
	line-height:32px;
	vertical-align:middle;
	background:url(../../images/cms3/menu_bg2.jpg) no-repeat center top;
	list-style-position:none;
	font-size:14px;
	color:#fff;
	display:block;
	font-weight: bold;
	cursor:hand;
}
#main_left_center_content tr td#change{background:url(../../images/cms3/menu_bg2.jpg) no-repeat center top;}
#main_left_center_content tr td p{margin:0px;padding:0px;overflow:hidden;}
#main_left_center_content tr td a{color:#fff;font-size:14px;font-weight:bold; text-indent:24px; display:block;}
#main_left_center_content tr td a:hover{background:url(../../images/cms3/menu_bg1.jpg) no-repeat center top;text-indent:24px ;}
#menu_tree_4 tr td{
background:url();
}
/* inside footer css */
#footer{
clear:both;
width:100%;
height:26px;
clear:left;
background:url(../../images/cms3/inside_32.jpg) repeat-x left top ;
}
#footer p{
margin:0px;
padding:0px;
height:26px;
line-height:26px;
color:#035DA9;
text-align:left;
}
#footer p span{
float:right; 
height:26px;
line-height:26px;
margin-right:10px;
}
#footer p a{
color:#AF0000;
}
#footer p a:hover{
color:#AF0000;
text-decoration: underline;
}
.inside_top1{
padding-top:5px;
background:url(../../images/cms3/kms_09.jpg) no-repeat center left;
height:22px;
width:78px;
font-size:12px;
text-align:center;
color:#fff;
font-weight:bold;
}
.inside_top2{
padding-top:5px;
background:url(../../images/cms3/kms_11.jpg) no-repeat center left;
height:22px;
width:78px;
font-size:12px;
text-align:center;
color:#fff;
font-weight:bold;
}
.inside_top3{
padding-top:5px;
background:url(../../images/cms3/kms_12.jpg) no-repeat center left;
height:22px;
width:100px;
font-size:12px;
text-align:center;
color:#fff;
font-weight:bold;
}
.inside_top4{
padding-top:5px;
background:url(../../images/cms3/kms_12a.jpg) no-repeat center left;
height:22px;
width:100px;
font-size:12px;
text-align:center;
color:#fff;
font-weight:bold;
}
/* titel css */
#titel{
margin:0px 4px auto;
width:100%;
height:34px;
text-align:center;
background:url(../../images/cms3/kms_13.jpg) repeat-x center;
display:table;
}
#titel_left{
width:100%; 
height:34px;
background:url(../../images/cms3/kms_13a.jpg) no-repeat left center;
}
#titel_right{
width:100%;
height:34px;
background:url(../../images/cms3/kms_13b.jpg) no-repeat right center;
}
#nav{
margin:8px 0px 0px 0px;
width:98%;
height:27px;
display:table;
}
#nav  ul{
float:right;
margin:0px;
text-align:right;
list-style-type:none;
}
#nav ul li{
float:left;
margin:0px 6px 0px 4px;
text-align:center;
display:block;
}
#nav  ul li a{
color:#000;
}
#nav  ul li a:hover{
color:#CC0000;
position: relative; right: 0px; top: 0px;
}
#button{
float:left;
margin:0px 6px 0px 4px;
width:37px;
height:23px;
background:url(../../images/cms3/buttonbg.gif) no-repeat top;
text-align:center;
line-height:23px;
color:#000;
}
#titel2{
margin:0px;
width:100%;
height:34px;
text-align:center;
background:url(../../images/cms3/kms_13.jpg) repeat-x center;
display:table;
}
#titel2_left{
width:100%; 
height:34px;
background:url(../../images/cms3/kms_13a.jpg) no-repeat left center;
}
#titel2_right{
width:100%;
height:34px;
background:url(../../images/cms3/kms_13b.jpg) no-repeat right center;
}
#nav2{
margin:8px 0px 0px 0px;
width:98%;
height:27px;
display:table;
}
#nav2  ul{
float:right;
margin:0px;
text-align:right;
list-style-type:none;
}
#nav2 ul li{
float:left;
margin:0px 6px 0px 4px;
text-align:center;
display:block;
}
#nav2  ul li a{
color:#000;
}
#nav2  ul li a:hover{
color:#CC0000;
position: relative; right: 0px; top: 0px;
}
#button2{
float:left;
margin:0px 6px 0px 4px;
width:37px;
height:23px;
background:url(../../images/cms3/buttonbg.gif) no-repeat top;
text-align:center;
line-height:23px;
color:#000;
}
#button1{
float:left;
margin:0px 6px 0px 4px;
width:70px;
height:23px;
background:url(../../images/cms3/buttonbg1.gif) no-repeat top;
text-align:center;
line-height:23px;
color:#000;
}
#button3{
float:left;
margin:0px 6px 0px 4px;
width:100px;
height:23px;
background:url(../../images/cms3/buttonbg2.gif) no-repeat top;
text-align:center;
line-height:23px;
color:#000;
}
.table_title{
font-size:14px;
color:#0d84c6;
font-weight:bold;
text-align:center;
height:26px;
line-height:26px;
}
.table_no{
color:#376db9;
}
.inside_list{
font-size:12px;
color:#0d84c6;
}
.inside_formcss{
border:1px solid #95989f;
background-color:#fff;
}
#titel1{
margin:0px;
width:100%;
height:26px;
text-align:center;
background:url(../../images/cms3/titelbg.jpg) repeat-x center;
display:table;
}
#titel1_left{
width:100%; 
height:26px;
background:url(../../images/cms3/titelleft.jpg) no-repeat left center;
}
#titel1_right{
width:100%;
height:26px;
background:url(../../images/cms3/titelright.jpg) no-repeat right center;
}
#titel1_txt{
width:100%;
	text-align:center;
	font-size:14px;
	color:#fff;
	font-weight: bolder;
	line-height:200%;
	display:table;
}

.error{
font-size:13px;
text-decoration:underline;
color:#0066CC;
font-weight:bold;
}
.error:link{
font-size:13px;
text-decoration:underline;
color:#0066CC;font-weight:bold;
}
.error:hover{
font-size:13px;
text-decoration:none;
color:#D80000;font-weight:bold;
}
.error:visited{
font-size:13px;
text-decoration:underline;
color:#0066CC;font-weight:bold;
}
#login{
margin:0px 0px 0px 0px;
padding:0px !important;
padding-left:0px!important;
>padding:0px !important;
padding:0px;
width:250px;
height:127px;
color:#299a91;
text-align:left;
}
#login p{
margin:5px 0px 0px 0px !important;
>margin:5px 0px 0px 0px !important;
margin:5px 0px 0px 0px ;
padding:0px;
}
#login p#sub{
margin-top:18px	!important;
margin-top:18px;
}
.formcss1 {  background-color: #c2dde6; border: 1px solid #677d84}

.input {width: 120px;}

#querynav{
margin:2px 0px 4px 0px;
width:99%; 
display:table;
background-color: #80D3E5; 
}

#querynav  ul{ 
margin:4px;
list-style-type:none	;
background-color: #80D3E5;
}
#querynav ul li{ 
margin:0px 5px 2px 6px; 
float: left; 
display:block; 
}


#querynav ul li.right{ 
margin:2px 10px 2px 6px;
float:right;
text-align:center;
display:block;
}

#querynav ul li.btncolse,#querynav ul li.btnquery{ 
margin:2px 10px 2px 6px;
float:right;
text-align:center;
display:block;
width:37px;
height:23px;
background:url(../../images/cms3/buttonbg.gif) no-repeat top;
line-height:23px;
color:#000;
}

#querynav  ul li a{
color:#000;
}
#querynav  ul li a:hover{
color:#CC0000;
position: relative; right: 0px; top: 0px;
}

#main_right { 
	height:100%;
	width:100%;
	background-color: #FFF;
} 

#main_right_right{
	height: 100%;
	float:right;
	width:172px; background: #FBFBFB url(../../images/cms3/inside_24.jpg) repeat-y right top;

}
#main_right_header{
	height:1px;
	width:172px;
	background:url(../../images/cms3/bg.jpg) repeat-x top left;
}
#main_right_bottom{
	height:100%;
	width:172px;
	background:url(../../images/cms3/bg.jpg) repeat-y left top;
}
.main_right_center{width:172px;}


#querynav ul li.right{ 
margin:2px 10px 2px 6px;
float:right;
text-align:center;
display:block;
}

#querynav  ul li a{
color:#000;
}
#querynav  ul li a:hover{
color:#CC0000;
position: relative; right: 0px; top: 0px;
}


.main_right_center div{
	height:6px; 
	overflow:hidden;
}
.main_right_center p{
	margin:0px;
	padding:0px;
	line-height:24px;
	color:#035DA9;
	font-size:14px;
	font-weight:bold;
	text-align:left;
}
.main_right_center p b{
	float:left;
	text-indent:36px;
	background:url(../../images/cms3/inside_20.jpg) no-repeat 16px 5px;
}
.main_right_center p span{
	float:right;
	width:50px;
	text-indent:14px;
	background:url(../../images/cms3/inside_21.jpg) no-repeat left 5px;
}
.main_right_center p span a{
	color:#646464;
	font-size:12px;
	text-decoration:none;
	font-weight:normal;
}
.main_right_center p span a:hover{color:#CC0000;}
.main_right_center ul{
	float:right;
	margin:0px 8px 4px 8px !important;
	margin:0px 4px 4px 8px;
	padding:8px 0px 8px 0px;
	width:152px;
	text-align:left;
	list-style-type:none;
	background:#EDEDED;
}
.main_right_center ul li{
	margin:0px;
	padding:4px 0px 2px 4px !important;
	padding:5px 0px 2px 4px;
	text-align:left;
	text-indent:10px;
	font-size:12px;
	display:block;
	width:148px;
	background:url(../../images/cms3/under_line1.gif) no-repeat left bottom;
}
.main_right_center ul li p span{
	text-indent:0px;
	width:30px;
	background:url();
}
.main_right_center ul li#line{background:url();}
.main_right_center ul li span#other{
	color:#0D84C6;
	padding-left:20px !important;
	padding-left:12px;
	font-size:12px;
}
.main_right_center ul li a{
	display:block;
	color:#5F5F5F;
	background:url(../../images/cms3/list-img1.gif) no-repeat left 4px;
}
.main_right_center ul li a:hover{
	color:#cc0000;
}
.main_right_center ul li p{
	margin-top:-5px!important;
	margin-top:0px;
	padding:0px;
	font-weight:normal;
	font-size:12px;
	color:#5F5F5F;
}

.main_right_center ul li p a{
	color:#0D84C6;
	text-decoration:underline;
	background:url();
}
.main_right_center ul li p a:hover{
	color:#cc0000;
	position: relative; right: 0px; top: 1px;
}


/* inside main center css */
#main_center{
height:100%;  
margin:0px;
padding:0px;
text-align:center;
float:right;
}
.main_center_title{
width:100%;
height:31px;
background:url(../../images/cms3/titel_bg.jpg) repeat-x top left;
}

.main_center_title_left{
width:100%; 
height:31px;
background:url(../../images/cms3/titel_left.jpg) no-repeat left top;
}
.main_center_title_right{
width:100%;
height:31px;
background:url(../../images/cms3/titel_right.jpg) no-repeat right top;
}
.main_center_title_right_txt{
	float:left;
	margin-top:6px;
	text-indent:20px;
	text-align:left;
	font-size:14px;
	color:#035DA9;
	font-weight: bolder; 
}
.main_center_title_left_txt{
	float:right;
	margin-top:10px;
	margin-right:20px;
	text-align:right;
	font-size:12px;
	color:#0D84C6;
	font-weight: bolder;
}
.main_center_title_left_txt a{
	color:#0D84C6;
	font-weight: bolder;
}
.main_center_title_left_txt a:hover{
	color:#cc0000;
}

#main_center ul{
	margin:0px auto !important;
	margin:0px;
	padding:0px;
	width:85%;
	text-indent:0px;
	list-style-type:none;
}
#main_center ul li{
	margin:0px;
	padding:0px;
	text-align:left;
	margin-top:6px;
	line-height:18px;
	height:18px;
	font-size:12px;
	width:100%;
	color:#0D84C6;
	display:table;
	background:url(../../images/cms3/under_line2.gif) repeat-x left bottom;
}
#main_center ul li span{
	float:right;
	color:#0D84C6;
}
#main_center ul li b{
	padding-left:10px;
	font-weight:normal;
	background:url(../../images/cms3/inside_23.jpg) no-repeat left 4px;

}
#main_center ul li a{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
#main_center ul li a:hover{color:#f00;}

#topm1,#topm2,#topm3{width:75px; height:30px; padding-left:2px;  padding-top:8px;  font-weight:bold; font-family:'ו'; cursor:pointer; color: #6B84C3;}